In [5]:
import pandas as pd

"""
axis=0: Apply the calculation “column-wise”
\n
axis=1: Apply the calculation “row-wise”
"""

'\naxis=0: Apply the calculation “column-wise”\n\n\naxis=1: Apply the calculation “row-wise”\n'

In [2]:
df = pd.DataFrame({'team': ['A', 'A', 'B', 'B', 'B', 'B', 'C', 'C'],
                   'points': [25, 12, 15, 14, 19, 23, 25, 29],
                   'assists': [5, 7, 7, 9, 12, 9, 9, 4],
                   'rebounds': [11, 8, 10, 6, 6, 5, 9, 12]})

In [3]:
df

  team  points  assists  rebounds
0    A      25        5        11
1    A      12        7         8
2    B      15        7        10
3    B      14        9         6
4    B      19       12         6
5    B      23        9         5
6    C      25        9         9
7    C      29        4        12

In [ ]:
df.